<h1>Tyler's posts</h1>

<ul class="post-list">
    <% @posts.each do |post| %>
        <article>
            <h2><%= post.title %><%= raw ' <span style="color: red;">(draft)</span>' if post.status == "draft" %></h2>
            <time datetime="<%= post.published.strftime("%Y-%m-%d") %>">
                <%= post.published.strftime("%B %d, %Y") %>
            </time>
            <%= raw post.content.split("\n")[0] %>
            <p><a href="/posts/<%= post.slug %>">Read post</a></p>
        </article>
    <% end %>
</ul>
