<h1 class="homepage-title">Tyler's journal</h1>

<p class="lead">This site is for my daily journal posts that aren't interesting enough for dev.to</p>

<ul class="post-list">
    <% @posts.each do |post| %>
        <article>
            <h2><%= post.title %><%= raw ' <span style="color: red;">(draft)</span>' if post.status == "draft" %></h2>
            <time datetime="<%= post.published.strftime("%Y-%m-%d") %>">
                <%= post.published.strftime("%B %d, %Y") %>
            </time>
            <%= raw post.content.split("\n")[0] %>
            <p><%= link_to 'Read post', journal_entry_path(post.slug) %></p>
        </article>
    <% end %>
</ul>
