<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="noindex" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">Tyler Smith</a>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
      <a href="https://twitter.com/RaspberryTyler">Follow me on Twitter</a>
      </p>
    </footer>
  </body>
</html>
