<!DOCTYPE html>
<html>
  <head>
    <% if ENV.fetch('RAILS_ENV', 'development') == 'production' -%>
      <script async defer data-domain="tinkerlog.dev" src="https://analytics.tinkerlog.dev/js/plausible.js"></script>
    <% end -%>
    <title>
      <% if content_for? :page_title -%>
        <%= yield :page_title  -%> | Tinker log
      <% else -%>
        Tinker log
      <% end -%>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">Tyler Smith</a>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
      <a href="https://twitter.com/RaspberryTyler">Follow me on Twitter</a>
      </p>
    </footer>
  </body>
</html>
